# Java build artifacts
/target/
/build/

# IDE and OS-specific files
/.nbproject/private/
/*.class
/.DS_Store
/.idea/
/*.iml

# Temporary files
*.log
*.tmp
*.bak

# Libraries and binaries
/lib/
/*.jar

/cmsg.txt